
body {
    background-color:azure;
  }
  

h1 {
    border-style: double;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold

}

p {
    font-family: Verdana, Arial, Helvetica, sans-serif;


}

table {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:larger

}